.HeroSection {
    background: url("/images/home/main-banner.jpg") center center;
    background-size: cover;
    padding: 120px 0;
    padding-top: 150px;
    overflow: hidden;
}
.HeroContainer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
@media (min-width:768px) {
    .HeroSection {
        padding: 0;
    }
    .HeroContainer {
        height: 100vh;
    }
}
@media (max-width:1450px) {
    .HeroContainer {
        max-width: 1000px;
    }
}
.HeroTitle{
  font-size: 50px;
  line-height:60px;
  font-weight: 400;
  text-transform: uppercase;
}
.SubTitle {
  font-size: 28px;
  text-transform: uppercase;
}
@media (max-width:1100px) {
    .HeroContainer {
        max-width: 900px;
    }
  .HeroTitle{
    font-size: 45px;
    line-height: 55px;
  }
}
@media (max-width:768px) {
    .HeroContainer {
        max-width: 700px;
    }
    .HeroTitle{
        font-size: 28px;
        line-height:38px;
    }
    .SubTitle {
        font-size: 20px;
    }
}
.TitleHighlight {
    position: relative;
}
.TitleHighlight:after {
    content: "";
    height: 5px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--secondary);
}

.Circle {
  width: 100% ;
  max-width: 1200px;
  padding: 15px;
  min-width: 500px;
  position: absolute;
  left: 50%;
  top: calc(50% + 35px);
  transform: translate(-50%, -50%);
  z-index: 0;
}
@media (min-width:1450px) {
    .Circle {
        min-width: 1200px;
    }
}
@media (min-width:768px) {
    .Circle {
        min-width: 900px;
    }
}
.CircleOne {
    fill: var(--primary);
}
.CircleTwo {
    fill: var(--black);
}