.floatingWhatsapp {
  width: 100%;
  height: 100%;
  text-align: left;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.whatsAppButton {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 70px;
  right: 30px;
  cursor: pointer;
  background-color: #25d366;
  border-radius: 50%;
  -webkit-user-select: none;
          user-select: none;
  box-shadow: 0px 4px 10px 0px rgb(0 0 0 / 15%);
  z-index: 9998;
}
@media (max-width: 575px) {
  .whatsAppButton {
    bottom: 30px;
  }
  
}

.whatsAppButton:after {
  content: '';
  border-color: inherit;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 0 0 0 rgba(37, 211, 101, 0);
  animation: pulse 1.2s infinite;
}

.whatsAppButton svg {
  fill: #fff;
  padding: 0.5rem;
  width: 55px;
  height: 55px;
}
@media (max-width: 575px) {
  .whatsAppButton {
  }
}

.whatsappChatbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5%;
  overflow: hidden;
  background-color: #eae6df;
  touch-action: auto;
  position: fixed;
  bottom: 7rem;
  right: 4rem;
  width: 375px;
  transition: height 0.2s ease-out;
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 20%);
  z-index: 9999;
  min-height: 320px;
}

@media (max-width: 575px) {
  .whatsappChatbox {
    right: 0;
    left: 0;
    max-width: 90%;
    margin: auto;
    bottom: 6rem;
  }
}

.whatsappChatbox.open {
  animation: bounceIn 0.4s both;
}

.whatsappChatbox.close {
  animation: bounceOut 0.4s both;
}

.chatHeader {
  background-color: #128c7e;
  display: grid;
  align-items: center;
  padding: 4px;
  grid-template-columns: 18% 74% 1fr;
  position: relative;
}

.chatHeader .avatar {
  padding: 4px;
  position: relative;
}

.chatHeader .avatar img {
  vertical-align: middle;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    object-fit: contain;
    border: 1px solid hsla(0, 0%, 100%, .473);
    background-color: #000;
}

.chatHeader .avatar:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #4fbe86;
  border: 1px solid #fff;
  position: absolute;
  border-radius: 50%;
  bottom: 5px;
  right: 8px;
}

.chatHeader .avatar svg {
  fill: #fff;
  vertical-align: middle;
}

.chatHeader .status {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.chatHeader .statusTitle {
  font-weight: 700;
  white-space: nowrap;
}

.chatHeader .statusSubtitle {
  font-size: 0.8rem;
  color: #f0f0f0;
}

.chatHeader .closeButton {
  padding: 5px;
  cursor: pointer;
}

.chatHeader .closeButton svg {
  fill: #fff;
  width: 24px;
  height: 24px;
}

.chatBody {
  padding: 20px;
  background-size: cover;
  background-repeat: repeat;
  max-height: 382px;
  background-color: #eae6df;
  min-height: 240px;
  background-image: url(/image/servsynk-logo.png);
}

.chatBubble {
  background-color: #e6f8f1;
  padding: 16px 28px;
  border-radius: 20px;
  border-bottom-left-radius: 2px;
  display: inline-block;
}

.typing {
  align-items: center;
  display: flex;
  height: 17px;
}

.typing .dot {
  animation: typingAnimation 1.8s infinite ease-in-out;
  background-color: rgba(20, 105, 69, 0.7);
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block;
}

.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}

.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}

.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}

.typing .dot:last-child {
  margin-right: 0;
}
.chatMessage {}
.chatBody .message {
  padding: 7px 14px 6px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  max-width: calc(100% - 40px);
  z-index: 2;
  box-shadow: 0 1px .5px rgba(11, 20, 26, .13);
}
@media (max-width: 575px) {
  .chatBody .message {
    max-width: 100%;
  }
}
.chatBody .accountName {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  color: rgb(17 17 17 / 50%);
}

.chatBody .messageBody {
  font-size: 14px;
  line-height: 19px;
  color: #111111;
  white-space: pre-wrap;
}

.chatBody .message .triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  left: -10px;
  top: 0;
}

.chatBody .messageTime {
  display: flex;
  gap: 5px;
  margin-top: 4px;
  font-size: 12px;
  line-height: 16px;
  color: rgb(17 17 17 / 50%);
  justify-content: flex-end;
}

.chatFooter {
  padding: 5px;
  background-color: #f0f0f0;
  text-align: center;
}
.StartChatBtn {
  background:linear-gradient(90deg, #12c665 0.85%, #009446 100%);
  padding: 5px 20px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: var(--transition);
  position: relative;
}
.StartChatBtn svg {
  fill: #fff ;
  height: 25px;
  position: absolute;
  right: 10px;
}
/* .StartChatBtn:hover {
  background:linear-gradient(90deg, #009446 0.85%, #12c665 100%);
  gap: 35px;
} */

/* keyframes */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 211, 101, 0.75);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(37, 211, 101, 0);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0, 0);
    transform-origin: bottom right;
  }

  50% {
    transform: scale(1.03, 1.03);
    transform-origin: bottom right;
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
    transform-origin: bottom right;
  }
}

@keyframes bounceOut {
  0% {
    opacity: 1;
    height: scale(1, 1);
    transform-origin: bottom right;
  }
  100% {
    opacity: 0;
    transform: scale(0, 0);
    transform-origin: bottom right;
  }
}

@keyframes typingAnimation {
  0% {
    transform: translateY(0px);
    background-color: rgba(20, 105, 69, 0.7);
  }
  28% {
    transform: translateY(-7px);
    background-color: rgba(20, 105, 69, 0.4);
  }
  44% {
    transform: translateY(0px);
    background-color: rgba(20, 105, 69, 0.2);
  }
}

.notificationIndicator {
  display: flex;
  flex-flow: row wrap;
  place-content: center;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 500;
  font-size: 0.75rem;
  min-width: 20px;
  line-height: 1;
  padding: 0px 6px;
  height: 20px;
  border-radius: 10px;
  z-index: 1;
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: rgb(235, 0, 20);
  color: rgb(255, 255, 255);
  top: 0;
  right: 10px;
  transform: scale(1) translate(50%, -50%);
  transform-origin: 100% 0%;
}

.checkBoxs {
  display: grid;
  gap: 15px;
  position: relative;
  margin-top: 15px;
}

.checkBoxLabel {
  display: block;
}

.checkBoxSpan {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-weight: 500;
  display: block;
}

.checkBoxSpan::before {
  content: "";
  position: absolute;
  left: 0;
  height: 16px;
  width: 16px;
  border: 2px solid #128c7e;
  background: #fff;
  border-radius: 0;
  top: 50%;
  transform: translateY(-50%);
}
.checkBoxLabel input {
  opacity: 0;
  width: auto;
  position: absolute;
}

.checkBoxLabel input:checked + .checkBoxSpan::before {
  background: #128c7e;
}

.checkBoxLabel input:checked + .checkBoxSpan::after {
  content: "";
  width: 4px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  left: 7px;
  top: 1px;
}

.checkBoxLabel input:checked + .checkBoxSpan {
  color: #128c7e;
}