.AboutCol {
    position: relative;
    display: block;
    background: #fff;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.08);
    border-left: 2px solid var(--secondary);
    padding: 25px 25px 21px;
}
.AboutColTitle {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.Icon {
    position: relative;
    display: block;
    padding-right: 10px;
    color: var(--secondary);
}
.Icon:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background: #E4E4E4;
    content: "";
}
.Title {
    position: relative;
    display: block;
    margin-left: 10px;
    flex: 1;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
}
.aboutimg1 {
    height: 575px;
    width: 100%;
    object-fit: cover;
}
@media (max-width: 767px) {
    .aboutimg1 {
        height: auto;
    }
}