.headerContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 8px 15px;
    animation: fadeInDown 300ms ease-in-out;
    background: var(--white);
  }
  
  .headerContainer.headerSticky {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.06);
  }
  
  
  
  @media (max-width: 1024px) {
    .headerContainer {
      padding: 10px 15px;
    }
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    font-family: var(--navfont);
  }
  
  .navbarLogo {
    width: 300px;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .navbarLogo b {
    font-weight: 900;
    color: var(--primary);
  }

@media (max-width:767px) {
  .navbarLogo {
    width: 200px;
    font-size: 20px;
  }
  .navigation {
    display: none;
  }
}
.MobileMenuBtn {
    background: #ffffff;
    position: relative;
    width: 48px;
    height: 48px;
    z-index: 99;
    border: solid 1px rgba(0, 0, 0, .1);
}
.MobileMenuBox {
    width: 25px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.MobileMenuBox .Hamburger {
    width: 100%;
    height: 3px;
    background-color: var(--primary);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    cursor: pointer;
}
.MobileMenuBox .Hamburger.two {
    top: 10px;
    background-color: var(--secondary);
}
.MobileMenuBox .Hamburger.three {
    top: 20px;
    margin-bottom: 0;
}
.MobileMenu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: var(--transition);
  z-index: 111111;
  display: flex;
      flex-direction: column;
      justify-content: space-between;
}
.MobileMenu.open {
  left: 0;
}
.MobileMenu.closed {
  left: -100%;
}
.MobileMenuHeader {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom:solid 1px #e9e9e9;
}
.MobileMenuLogo {
  width: 100px;
}
.MobileMenuClose {
  border:solid 1px var(--primary);
  padding: 5px;
  color: var(--secondary);
  font-size: 20px;
  cursor: pointer;
}
.MobileNav {
  display: grid;
}
.MobileNav li a {
  display: block;
  padding: 7px 20px;
  color: var(--black);
  font-weight: 500;
  font-size: 16px;
  border-bottom:solid 1px #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.MobileNav li ul li a {
 padding-left: 40px;
}

.MobileNav li a:after {
  background-color: var(--primary);
  content: "";
  display: block;
  height: 12px;
  mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 15"><path d="m.6 12.438 5.192-5.343L.6 1.74 2.198.095l6.802 7-6.802 7z"/></svg>');
  mask-position: center;
  mask-repeat: no-repeat;
  width: 8px;
}
.FixedBtnMobile{
  color: var(--white);
  background-color: var(--secondary);
  border: solid 4px var(--white);
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}
.NavigationLi {
    position: relative;
}
.NavigationLink {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0;
    display: block;
}
.SubNav {
    background: #fff;
    position: absolute;
    left: 0;
    top: 110%;
   
    visibility: hidden;
    opacity: 0;
    transition: var(--transition) ;
}
.NavigationLi:hover .SubNav {
    visibility: visible;
    opacity: 1;
    top: 100%;
}

.SubNavItemLink {
    padding: 5px 15px;
    display: block;
    white-space: nowrap;
    font-weight: bold;
    font-family: var(--navfont);
}