.ContactCol {
    position: relative;
    display: block;
    background: #fff;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.08);
    border-left: 2px solid var(--secondary);
    padding: 25px 25px 21px;
}
.ContactColTitle {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.Icon {
    position: relative;
    display: block;
    padding-right: 10px;
    color: var(--secondary);
}
.Icon:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background: #E4E4E4;
    content: "";
}
.Title {
    position: relative;
    display: block;
    margin-left: 10px;
    flex: 1;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
}

.ContactFromSection {
    position: relative;
    margin-bottom: 200px;
}
.ContactFrom {
    background: var(--primary);
    padding: 50px;
    color: #fff;
    position: relative;
    z-index: 1;
}
.ContactFromSection .float {
    position: absolute;
    right: 20%;
    top: 95%;
    animation: updown 1.5s ease-in-out infinite;
}
@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@media (max-width:800px) {
    .ContactFrom {
        padding: 15px;
        margin-top: 20px;
    }
}