.ContentSection {
    display: grid;
    gap: 20px;
}
.ContentSection h2 {
    color: var(--primary);
    font-size: 20px;
}
.ContentSection ul {
    margin: 0;
    list-style: disc;
    padding-left: 25px;
}
