.benefitsSection {
  position: relative;  
  background-image: url("/images/services/supply-chain/supply-chain-hero.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  overflow: hidden;
  z-index: 1;
}

.overlay {
  position: absolute;
  inset: 0;
  background: var(--black);
  opacity: 0.75;
  z-index: -1;
}

/* Header */
.header {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  z-index: 2;
}

.subtitle {
  color: var(--secondary);
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 8px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}

/* Grid */
.grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  position: relative;
  z-index: 2;
}

/* Card Styles */
.card {
  position: relative;
  background: #ffffff;
  border-radius: 16px;
  padding: 30px 25px;
  text-align: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  transition: all 0.35s ease;
  overflow: hidden;
  color: #111827;
  border: 4px solid transparent;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  border: 4px solid var(--secondary);
}

/* .borderTop,
.borderBottom,
.borderLeft,
.borderRight {
  position: absolute;
  background: var(--secondary);
  transition: all 0.5s ease;
  opacity: 0;
}

.borderLeft {
  top: 0;
  left: 0;
  height: 0;
  width: 3px;
  border-top-left-radius: 12px;
}
.borderRight {
  bottom: 0;
  right: 0;
  height: 0;
  width: 3px;
  border-bottom-right-radius: 12px;
}

.borderTop {
  top: 0;
  left: 0;
  height: 3px;
  width: 0;
  border-top-left-radius: 12px;
}

.borderBottom {
  bottom: 0;
  right: 0;
  height: 3px;
  width: 0;
  border-bottom-right-radius: 12px;
}

.card:hover .borderTop,
.card:hover .borderBottom,
.card:hover .borderLeft,
.card:hover .borderRight {
  width: 100%;
  opacity: 1;
} */

/* Icon */
.iconWrapper {
  background: #e0edff;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
  transition: background 0.3s ease;
  overflow: hidden;
}

.card:hover .iconWrapper {
  background: var(--secondary);
}

.icon {
  object-fit: contain;
  border-radius: 50%;
  transition: all 0.6s ease;
  will-change: transform;
}

/* Text */
.cardTitle {
  font-size: 1.125rem;
  font-weight: 600;
  color: #111827;
  margin-bottom: 10px;
}

.cardText {
  color: #4b5563;
  font-size: 0.95rem;
  line-height: 1.6;
}

/* Responsive */
@media (max-width: 992px) {
  .benefitsSection {
    background-attachment: scroll;
  }
}
