.HeroSection {
    padding: 120px 0;
    padding-top: 150px;
    overflow: hidden;
    position: relative;
  }
  
  .HeroContainer::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--black);
    opacity: 0.8;
    z-index: 1; 
  }
  
  .HeroContainer {
    max-width: 100%;
    margin: auto;
    display: flex;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
    z-index: 0;
  }
  
  .text-center.relative.z-10 {
    position: relative;
    z-index: 2; 
  }
  
  @media (min-width:768px) {
    .HeroSection {
      padding: 0;
    }
    .HeroContainer {
      height: 100vh;
    }
  }
  @media (max-width:1100px) {
    .HeroTitle {
      font-size: 45px;
      line-height: 55px;
    }
  }
  @media (max-width:768px) {
    .HeroTitle {
      font-size: 28px;
      line-height: 38px;
    }
    .SubTitle {
      font-size: 20px;
    }
  }
  .TitleHighlight {
    position: relative;
  }
  .TitleHighlight::after {
    content: "";
    height: 5px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--secondary);
  }
  