  .ServicesSection {
    background: var(--grey-light);
  }
  .Card {
    position: relative;
    overflow: hidden;
  }
  
  .ImageWrapper {
    position: relative;
    overflow: hidden;
  }
  .Image {
    object-fit: cover;
    -webkit-transition-duration: 2s;
    transition-duration: 2s;
  }
  .Card:hover .Image {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    transform: scale(1.4);
    -o-transform: scale(1.4);
    -webkit-transition-duration: 4s;
    transition-duration: 4s;
}
  .ImageWrapper:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    top: 0;
    left: 0;
    background-color: #1c1c1c;
  }
  .ImageWrapper:after {
    content: "";
    opacity: 0;
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    background-color: rgba(0, 68, 165, 0.8);
}
.Card:hover .ImageWrapper:after {
    opacity: 1;
}
.TitleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Title {
    font-size: 22px;
    line-height: 1;
    font-weight: 500;
}
.ItemList li a {
    position: relative;
    padding: 10px 10px 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:  solid 1px #000;
    font-weight: bold;
    color: var(--primary);

}
.ItemList li a:before {
    content: "";
    width: 10px;
    height: 10px;
    background: var(--secondary);
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}
@media (min-width:1100px) {
    .ContentWrapper {
        position: absolute;
        left: 0;
        right: 0;
        bottom:10px;
        transition:var(--transition);
    }
    .TitleWrapper {
        color: #fff;
    }
    .TitleWrapper:hover, .TitleWrapper:hover .Title {
        color: var(--secondary);
    }
    .Btn{
        opacity: 0;
        visibility: hidden;
        transition:var(--transition);
        padding: 5px;
    }
    .Card:hover .Btn{
        opacity: 1;
        visibility: visible;
    }
    .Title {
        font-size: 30px;
        padding: 15px;
        color: #fff;
    }
    .Description {
        padding: 15px;
        color: #fff;
    }
    .ItemList, .Description {
        opacity: 0;
        visibility: hidden;
        transition:var(--transition);
        height: 0;
    }
    .Card:hover .ItemList, .Card:hover .Description{
        opacity: 1;
        visibility: visible;
         height: 200px;
    }
    .ItemList li a {
        color: #fff;
        border-bottom:  solid 1px #fff;
        padding: 5px 5px 5px 25px;
    }
    .ItemList li:hover {
        background: #fff;
    }
    .ItemList li:hover a {
        color: var(--primary);
    }
}
@media (max-width:1050px) {
    .Image {
        height: 300px;
    }
    .TitleWrapper {
        position: absolute;
        z-index: 10;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 15px;
        color: #fff;
    }
}